# Ignoring IDE and OS-specific files
.vscode/
__pycache__/
.DS_Store

# Ignoring database files
*.sqlite

# Ignoring all contents of data directories
data/raw/
data/processed/bin.txt
tmp/
/bin.txt
/tmp/
